.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 36px;
    border-radius: 5px;
    cursor: default;
    outline: none;
}
.list p{
    color: whitesmoke;
    font-size: 9.5pt;
    font-weight: 400;
}
.iconspan{
    display: flex;
    align-items: center;
    justify-content: center;
    height:24px;
    width: 24px;
    border-radius: 12px;
}

.listInput{
    background-color: #1E1E1E;
    color: whitesmoke;
    font-size: 9.5pt;
    font-weight: 400;
}